
appdirs
asgiref
crispy-bootstrap5
distlib
Django
django-bootstrap-datepicker-plus
django-cors-headers
django-crispy-forms
django-filter
djangorestframework
filelock
importlib-metadata
python-dotenv
pytz
six
sqlparse
typing-extensions
virtualenv
zipp
drf-yasg
required
requests

